#div_footer {
	border:		solid 1px #ff0000;
	height:		30px;
}
#div_header {
	border:		solid 1px #0000ff;
	height:		50px;
}
#div_main {
	border:		solid 1px #00ffff;
}
#div_wrapper {
	border:		solid 1px #00ff00;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */

